
// COLORS
$color-primary: #f2f2f2;
$color-primary-light: #ddd;
$color-primary-dark: #c5c5c5;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;
$color-black-transparent: rgba(0, 0, 0, 0.6);


$color-primary: #ff6a6a;
$color-gray: #ced4da;
$color-gray-dark: #aeaeae;
$background-color: #ececec;